<template>
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
            <h2>Page Not Found</h2>
        </div>
        <router-link to="/">HOMEPAGE</router-link>
    </div>
</template>