<template>
    <div>
        <navigation></navigation>
        <h1>about us</h1>
    </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue'; 
export default {
    components: {
        Navigation
    }
}
</script>