<template>
    <el-header class="header">
        <el-row class="header__inner">
        <el-col :span="3"><el-link :underline="false" href="/">Logo</el-link></el-col>
        <el-col :span="3" :offset="12"><el-link :underline="false" href="/">Home</el-link></el-col>
        <el-col :span="3"><el-link :underline="false" href="">About</el-link></el-col>
        <el-col :span="3"><el-link :underline="false" href="">Login</el-link></el-col>
        </el-row>
    </el-header>
</template>