<template>
  <el-row v-loading="loading">

    <div class="header-img" v-if="game.screenshots">
      <img :src="game.screenshots[1].url.replace('thumb', 'screenshot_huge')" alt="">
    </div>

    <el-container class="game-details">
      <el-aside>   
        <img class="game-cover" v-if="game.cover" :src="game.cover.url.replace('thumb', 'cover_big')" alt="cover" />
        <div><b>Platforms: </b><span v-for="(platform, index) in game.platforms" :key="index">{{ platform.name }}, </span></div>
        <br>
        <div><b>Released: </b>{{ new Date(game.first_release_date*1000).toString().slice(0, 15) }}</div>
        <br>
        <a v-if="game.websites" :href="game.websites[0].url">Official Website</a>
      </el-aside>
      <el-col>
        <h1>{{ game.name }}</h1>
        <p class="summary">{{ game.summary }}</p>
        <div class="screenshot-container">
          <img
          v-for="(screenshot, index) in game.screenshots"
          :key="index"
          :src="screenshot.url"
          alt="screenshot"
          />
        </div>
      </el-col>
    </el-container>
  </el-row>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      loading: false,
      game: []
    };
  },
  methods: {
    fetchGameById(id) {
      axios
        .get(
          `${this.$proxyurl}https://api-v3.igdb.com/games/${id}/?fields=name,platforms.name,cover.url,summary,first_release_date,websites.url,websites.category,screenshots.url`
        )
        .then(res => {
          this.game = res.data[0];
        })
        .catch(error => {
          this.$message.error(error.message);
        });
    }
  },
  mounted() {
    this.fetchGameById(this.$route.params.id);
  }
};
</script>
