<template>
<div class="container">

  <el-radio-group v-model="selectedCategory">
    <el-radio-button label="All">All</el-radio-button>
    <el-radio-button label="Role-playing (RPG)">Role-playing (RPG)</el-radio-button>
    <el-radio-button label="Adventure">Adventure</el-radio-button>
    <el-radio-button label="Shooter">Shooter</el-radio-button>
    <el-radio-button label="Racing">Racing</el-radio-button>
    <el-radio-button label="Arcade">Arcade</el-radio-button>
    <el-radio-button label="Indie">Indie</el-radio-button>
    <el-radio-button label="Simulator">Simulator</el-radio-button>
  </el-radio-group>

  <el-row v-loading="loading">
    <div class="card" v-for="game in games" :key="game.id">
      <div class="wrapper" :style="{ backgroundImage: 'url(' + game.cover.url.replace('t_thumb', 't_cover_big') + ')' }">
        <div class="title">
          <span class="name">{{ game.name }}</span>
        </div>
        <div class="more">
          <router-link :to="{ name: 'game', params: { id: game.id } }">
            <el-button type="primary">
              Read More
              <i class="el-icon-arrow-right el-icon-right"></i>
            </el-button>
          </router-link>
        </div>
      </div>
    </div>
  </el-row>
</div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      games: [],
      // v-loading just works on Element UI components
      loading: false,
      selectedCategory: "All",
      fetchedGames: []      
    };
  },
  methods: {
    fetchGames() {
      this.loading = false;
      axios
        .get(
          `${this.$proxyurl}https://api-v3.igdb.com/games/?fields=name,genres.name,cover.url,popularity&order=popularity:desc&expand=genres`
        )
        .then(res => {
          if (res.status === 200) {
              // in async/await mode `this` doesn't work because of asynchronous
            this.fetchedGames = res.data;

            // Element UI message is a global property
            this.$message.success("Data loaded successfully...");
          }
        })
        .catch(error => {
          // Element UI message is a global property
          this.$message.error(error.message);
        });
      this.loading = false;
    }
  },
  mounted() {
    this.fetchGames();
  },

  watch: {
    fetchedGames: function() {
      this.games = this.fetchedGames;
    },
    selectedCategory: function(val) {
      if (val != "All") {
        this.games = this.fetchedGames.filter( function(f) {
          for (let genre of f.genres) {
            if (genre.name === val) {
              return true;
            }
          }
        })
      } else {
        this.games = this.fetchedGames;
      }
    }
  }
};
</script>
