@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700");
// Variables
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.card {
  float: left;
  padding: 1.5rem;
  width: 25%;
  .wrapper {
    background-color: $white;
    min-height: 380px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    //background: url() 20% 1% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    .title {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bermuda;
      color: $white;
      padding: 0.5em 0.3em;
      max-width: 60%;
      span {
        display: block;
        text-align: center;
      }
      .name {
        font-weight: 700;
        font-size: 20px;
        text-shadow: 2px 3px 2px rgba($black, 0.18);
      }
    }
    .more {
      position: absolute;
      bottom: 20px;
      left: 5px;
      .el-button span i {
        margin-left: 5px;
      }
    }
  }
}
