.header-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.game-cover {
    width: 210px;
    height: 300px;
    margin-bottom: 20px;
}

.game-details {
    width: 60%;
    margin: auto;
    margin-top: -5%;

    .el-aside {
        text-align: left;
    }

    .el-col {
        text-align: left;
        padding-left: 20px;
    }
}

.summary {
    padding-top: 20px;
}

.screenshot-container {
    display: flex;
    flex-wrap: wrap;

    img {
        margin: 5px;
        flex-basis: 22%;
    }
}