.header {
    .header__inner {
        width: 60%;
        height: 100%;
        margin: auto;
        line-height: 3;
        font-size: 20px;
    }
}

.el-divider__text, .el-link {
    font-weight: 500;
    font-size: 16px;
}

.el-link.el-link--default {
    color: #fff;
}