@import url('https://fonts.googleapis.com/css?family=Montserrat');

.notfound {
    .notfound-404 {
        h1 {
            font-family: Montserrat, sans-serif;
            color: #333;
            font-size: 224px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -30px;
            text-shadow: -1px -1px 0 #8400ff, 1px 1px 0 #ff005a;
            letter-spacing: -20px;
        }
        h2 {
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            position: absolute;
            top: 130px;
            left: 0;
            right: 0;
            text-shadow: 0 2px 0 #8400ff;
            text-transform: uppercase;
            letter-spacing: 12px;
        }
    }

    a {
        font-family: Montserrat, sans-serif;
        display: inline-block;
        color: #ff005a;
        text-decoration: none;
        border: 2px solid;
        padding: 10px 40px;
        font-size: 14px;
        font-weight: 700;
    }
}